<nav>
    <ul>
        <li><a href="{% url 'core:index' %}">Inicio</a> </li>
        <li>
            {% if user.is_authenticated %}
            <form action="{% url 'core:logout' %}" method="post">
                {% csrf_token %}
                 <button type="submit">Cerrar Sesion</button>
            </form>
            <a href="{% url 'core:cargo_list' %} ">Cargo</a>
            <a href="{% url 'core:empleado_list' %} ">Empleado</a>  
            <a href="{% url 'core:tarea_list' %} ">Tarea</a>
            {% else %}
            
            <a href="{% url 'core:login' %}">Iniciar Sesion</a></li>
            {% endif %}
                
    </ul>
</nav>

